<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content container">
        <h2><%= blog.title %> </h2>
        <div class="content">
            <p> <%= blog.body %> </p>
        </div>
        <button class="delete badge badge-danger" data-doc="<%= blog._id %> ">delete</button>


    </div>
    <br>
    <hr>

    <%- include('./partials/footer.ejs') %>


</body>

</html>